header {
  border: 1px solid grey;
  background-color: aliceblue;
}

#nav_a {
  color: grey;
  text-align: right;
  padding: 14px 16px;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
}
.dropdown:hover .dropdown-content {
  display: block; }
  
.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color:black;
  background-color: grey;
}


#follow_me {
  text-align: center;

form {
  padding: auto;
  font-weight: 900px;
  color: black;
  text-align: center;
}

input[type="button"]:hover {
  color: black;
  background-color: grey;
  border-radius: 4px;
}

input[type="text"]:focus {
  color: black;
  background-color: slategray;
}

/* Box Model Sample*/
/* * {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 1px solid red;
}

header {
  border: 2px solid green;
  margin-bottom: 10px;
  padding: 20px;
  background-color: yellow;
}

div {
  border: 1px solid greenyellow;
  margin: 20px;
  padding: 10px;
  background-color: violet;
} */


/* Media Query */

@media (max-width: 600px) {
  nav {
    padding: 10px;
    display: block;
  }
}
